
<div class="header-mid">
    <div class="container">
        
        <a href="https://go.2gis.com/htagnr" target="_blank" rel="noopener noreferrer" class="header-mid__adres link">в городе Днепр</a>
          
        <h1 class="header-mid__title title">
            Машинная <br/> штукатурка
        </h1>
        <p class="header-mid__description">
            БЫСТРЕЕ, НАДЕЖНЕЕ, ВЫГОДНЕЕ
        </p>
        <img class="header-mid__arrow" src="./images/header/desktop/arrow.png" alt="смотрите далее">
    </div>

</div>
<div class="header-mid__form-wrapper">
    <form action="" class="header-mid__form container">
        <p class="header-mid__form-title">
            Оставить заявку
        </p>
        <p class="header-mid__form-description">
            Мы отправим Вам актуальный 
            прайс-лист и действующие
            акционные предложения.
        </p>
        <div class="wrapper">
        <div class="header-mid__form-inpute-wrapper">
            <input class="header-mid__form-inpute name" placeholder="Имя" type="text">
            <input class="header-mid__form-inpute telephone" placeholder="Телефон" type="text">
        </div>
        <button class="header-mid__form-button" type="button">Отправить</button>
    </div>
    </form>
</div>
