<div class="header-top container">
    <div class="logo">
        <a href="#" class="header__logo">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./images/header-top/desktop/logo_desktop@1x.webp 1x, ./images/header-top/desktop/logo_desktop@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="./images/header-top/desktop/logo_desktop@1x.png 1x, ./images/header-top/desktop/logo_desktop@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/header-top/tablet/logo-tablet@1x.webp 1x, ./images/header-top/tablet/logo-tablet@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/header-top/tablet/logo-tablet@1x.png 1x, ./images/header-top/tablet/logo-tablet@2x.png 2x"
          />
          <source
            media="(max-width: 768px)"
            srcset="./images/header-top/mobile/logo-mobile@1x.webp 1x, ./images/header-top/mobile/logo-mobile@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="./images/header-top/mobile/logo-mobile@1x.png 1x, ./images/header-top/mobile/logo-mobile@2x.png 2x"
          />
          <img class="header__logo" loading="lazy" src="#" alt="Логотип" />
        </picture>
      </a>
      </div>
      <a href="#" class="header-top__price-link">Наши услуги и цены</a>
      <ul class="header-top__call-list list">
        <li class="header-top__call-item">
          <a class="header-top__call-link link" href="tel:+380732228557"> +38 (073) 222 85 57</a>
        </li>
        <li class="header-top__call-item">
          <a class="header-top__call-link link" href="tel:+380502228557"> +38 (050) 222 85 57</a>
        </li>
        <li class="header-top__call-item">
          <a class="header-top__call-link link" href="tel:+380682228557"> +38 (068) 222 85 57</a>
        </li>
      </ul>
</div>