<section class="reviews">
    <div class="container">
        <h1 class="reviews__title">Отзывы</h1>
        <ul class="reviews__list">
            <li class="reviews__list-item">
                <div class="reviews__img-wrapper">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                          ./images/reviews/desktop/review1@1x.webp 1x,
                          ./images/reviews/desktop/review1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                          ./images/reviews/desktop/review1@1x.jpg 1x,
                          ./images/reviews/desktop/review1@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                          ./images/reviews/tablet/review1@1x.webp 1x,
                          ./images/reviews/tablet/review1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                          ./images/reviews/tablet/review1@1x.jpg 1x,
                          ./images/reviews/tablet/review1@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                          ./images/reviews/mobile/review1@1x.webp 1x,
                          ./images/reviews/mobile/review1@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                          ./images/reviews/mobile/review1@1x.jpg 1x,
                          ./images/reviews/mobile/review1@2x.jpg 2x
                          "
                        />
                        <img class="reviews__list-item-img" loading="lazy" src="" alt="Гипсовая машинная штукатурка стен" />
                      </picture>
                </div>
                <div class="reviews__description">
                    <div class="reviews__foto-and-name">
                        <div class="reviews__foto-wrapper">
                            <picture>
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                  ./images/reviews/tablet/foto1@1x.webp 1x,
                                  ./images/reviews/tablet/foto1@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                  ./images/reviews/tablet/foto1@1x.jpg 1x,
                                  ./images/reviews/tablet/foto1@2x.jpg 2x
                                  "
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                  ./images/reviews/tablet/foto1@1x.webp 1x,
                                  ./images/reviews/tablet/foto1@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                  ./images/reviews/tablet/foto1@1x.jpg 1x,
                                  ./images/reviews/tablet/foto1@2x.jpg 2x
                                  "
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                  ./images/reviews/mobile/foto1@1x.webp 1x,
                                  ./images/reviews/mobile/foto1@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                  ./images/reviews/mobile/foto1@1x.jpg 1x,
                                  ./images/reviews/mobile/foto1@2x.jpg 2x
                                  "
                                />
                                <img class="reviews__list-item-foto" loading="lazy" src="" alt="фото заказчика" />
                              </picture>
                        </div>
                        <div class="reviews__name-type-work-wrapper">
                        <p class="reviews__name">Василий Таранюк</p>
                        <p class="reviews__type-work">Штукатурка стен, потолка</p>
                        </div>
                    </div>
                    <div class="reviews__review-wrapper">
                        <p class="reviews__review">Машинная штукатурка – отличный вариант для ремонта офиса. В нашем здании высокие потолки, поэтому за ручную штукатурку просили гораздо дороже, по срокам тоже ремонт затянулся бы как минимум на пару недель. А так вышло доступно по цене, красиво по итогу. Реально быстро! Доволен выполненной работой, мастера молодцы.</p>
                    </div>            
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="reviews__img-wrapper">
                    <picture>
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                          ./images/reviews/desktop/review2@1x.webp 1x,
                          ./images/reviews/desktop/review2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 1440px)"
                          srcset="
                          ./images/reviews/desktop/review2@1x.jpg 1x,
                          ./images/reviews/desktop/review2@2x.jpg 2x
                          "
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                          ./images/reviews/tablet/review2@1x.webp 1x,
                          ./images/reviews/tablet/review2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(min-width: 768px)"
                          srcset="
                          ./images/reviews/tablet/review2@1x.jpg 1x,
                          ./images/reviews/tablet/review2@2x.jpg 2x
                          "
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                          ./images/reviews/mobile/review2@1x.webp 1x,
                          ./images/reviews/mobile/review2@2x.webp 2x
                          "
                          type="image/webp"
                        />
                        <source
                          media="(max-width: 768px)"
                          srcset="
                          ./images/reviews/mobile/review2@1x.jpg 1x,
                          ./images/reviews/mobile/review2@2x.jpg 2x
                          "
                        />
                        <img class="reviews__list-item-img" loading="lazy" src="" alt="Гипсовая машинная штукатурка стен" />
                      </picture>
                </div>
                <div class="reviews__description">
                    <div class="reviews__foto-and-name">
                        <div class="reviews__foto-wrapper">
                            <picture>
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                  ./images/reviews/tablet/foto2@1x.webp 1x,
                                  ./images/reviews/tablet/foto2@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 1440px)"
                                  srcset="
                                  ./images/reviews/tablet/foto2@1x.jpg 1x,
                                  ./images/reviews/tablet/foto2@2x.jpg 2x
                                  "
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                  ./images/reviews/tablet/foto2@1x.webp 1x,
                                  ./images/reviews/tablet/foto2@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(min-width: 768px)"
                                  srcset="
                                  ./images/reviews/tablet/foto2@1x.jpg 1x,
                                  ./images/reviews/tablet/foto2@2x.jpg 2x
                                  "
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                  ./images/reviews/mobile/foto2@1x.webp 1x,
                                  ./images/reviews/mobile/foto2@2x.webp 2x
                                  "
                                  type="image/webp"
                                />
                                <source
                                  media="(max-width: 768px)"
                                  srcset="
                                  ./images/reviews/mobile/foto2@1x.jpg 1x,
                                  ./images/reviews/mobile/foto2@2x.jpg 2x
                                  "
                                />
                                <img class="reviews__list-item-foto" loading="lazy" src="" alt="фото заказчика" />
                              </picture>
                        </div>
                        <div class="reviews__name-type-work-wrapper">
                        <p class="reviews__name">Ирина Голособова</p>
                        <p class="reviews__type-work">Штукатурка стен, штукатурка фасада</p>
                        </div>
                    </div>
                    <div class="reviews__review-wrapper">
                        <p class="reviews__review">Все понравилось, претензий нет. Бригада работала быстро, без прогулов, не надо было их контролировать, подгонять. Внутри дома сделали отделку идеально, все стены ровные, углы четкие, никаких изъянов. Штукатурки использовали меньше, чем мы рассчитывали. После того как закончили работу в доме, мы договорились еще чтоб и утеплили стены гаража снаружи. Тоже быстро сделали. Цена порадовала, без непонятных доплат, как договаривались. Рекомендуем!</p>
                    </div>            
                </div>
            </li>
        </ul>
    </div>
</section>