.faq {
  max-width: 335px;
  border-bottom: 1px solid #d3d3d3;

  margin: 0 auto 15px;
}
.faq__title {
  text-align: center;
  margin-bottom: 50px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.question h3 {
  font-weight: 700;
  @include font(14px, 21px);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  font-weight: 300;
  @include font(14px, 21px);
  padding-bottom: 8px;
}

.faq.active .answer {
  max-height: 300px;
  overflow: auto;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transforme 0.5s ease-in;
  margin-left: 10px;
  min-width: 15px;
  min-height: 15px;
}

@media screen and (min-width: 768px) {
  .faq {
    max-width: 618px;
    margin: 0 auto 18px;
  }
  .question {
    margin-bottom: 20px;
  }
  .question h3 {
    @include font(18px, 21px);
  }
  .answer p {
    @include font(16px, 21px);
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    max-width: 807px;
    margin: 0 auto 20px;
  }
  .question {
    margin-bottom: 20px;
  }
  .question h3 {
    @include font(18px, 21px);
  }
  .answer p {
    @include font(16px, 21px);
    padding-bottom: 18px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
